body{ background-color: darkslategrey;}
h1{ color: white;background-color: black;}
h2{color: red;}
p{ color: darkorange;font-style: italic;font-family: Verdana, Geneva, Tahoma, sans-serif;}
a{color: black;font-size: 25px;}